body {
    background-color: #f4f6f9;
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-weight: bold;
    font-size: 24px;
}

.display-4 {
    font-weight: bold;
    color: #212529;
}

.lead {
    color: #6c757d;
}

.card {
    border: none;
    border-radius: 15px;
}

.card h5 {
    color: #6c757d;
}

.card h2 {
    color: #0d6efd;
    font-weight: bold;
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

.hero-section {
    background: linear-gradient(135deg, #0d6efd, #212529);
    padding: 80px 0;
}

.hero-card {
    background-color: white;
    padding: 25px;
    border-radius: 18px;
}

.dashboard-card {
    border-radius: 18px;
}

.dashboard-card h2 {
    font-size: 36px;
}

.progress {
    height: 22px;
    border-radius: 20px;
}

.progress-bar {
    font-weight: bold;
}